* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1E90FF;
}

.welcome_text {
    width: 400px;
}

.welcome_form input,
.welcome_form button {
    display: block;
    width: 100%;
}

.welcome_form input {
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

.welcome_form button {
    font-size: 22px;
    padding: 20px 0px;
    border: none;
    background-color: #FFFFFF;
    color: #1E90FF;
    border-radius: 30px;
    transition: 0.4s all;
}

.welcome_form button:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.welcome_form input:focus,
.welcome_form button:focus {
    outline: none;
}

.quiz {
    border-radius: 3px;
    display: grid;
    grid-template-rows: 60px auto;
    height: 500px;
    width: 800px;
    background-color: #FFFFFF;
}

.quiz_header {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.quiz_body {
    background-color: #ECF0F1;
    padding: 30px;
}

.quiz_user {
    display: grid;
    align-items: center;
    padding-left: 30px;
}

.quiz_timer {
    display: grid;
    align-items: center;
    background-color: #1E90FF;
    color: #FFFFFF;
    padding: 0px 30px;
}

.option_group {
    list-style-type: none;
    margin: 30px 0px;
}

.option {
    background-color: #FFFFFF;
    color: #1E90FF;
    width: 300px;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 100px;
    border: 2px solid transparent;
}

.option:hover {
    cursor: pointer;
    border: 2px solid #1E90FF;
}

.next-btn {
    background-color: #1E90FF;
    color: #FFFFFF;
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    transition: 0.4s all;
}

.next-btn:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #1E90FF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.next-btn:focus {
    outline: none;
}

.active {
    background-color: #1E90FF;
    color: #FFFFFF;
}

.award_icon {
    font-size: 300px;
    color: #FFFFFF;
}

.username,
.user_points,
.user_time {
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
}